/* Estilizando menu com icones*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Não soma o tamanho do com o padding*/
    }
    body{
    background: #cef0f0e7;
    font-family: Roboto; }
    #menu{
    width: 100%;
    height: 60px;
    background: #2dccfcea;
    color: white; }
    #menu li{
    display:block;
    margin-left: 7%;
    margin-right: 7%;
    }
    #menu a{
    float:left;
    text-decoration:none; /*tira os marcadores*/
    color: rgb(18, 0, 36);
    text-transform: uppercase;
    line-height: 60px;
    height: 60px;
    padding: 10px 25px;
    }
    #menu a:hover{ /* efeito cor mouse*/
    background: #3578b6;
    }
    #menu i{
    height: 60px;
    line-height: 60px;
    } #menu i.left{
    float: left;
    height: 60px; line-height: 60px;
    margin-right: 5px;
    }
    #menu i.right{
    float: left; height: 60px;
    line-height: 60px;
    margin-left: 5px;
    }
    /* #conteudo { width: 400px; height: 300px;}*/